.nav-link {
  cursor: pointer;
}

.tag-pill {
  cursor: pointer;
}


/* rotating-image.component.css */

img {
  background-size: cover;
  animation: rotate 5s linear infinite; /* Ajustez la durée (5s dans cet exemple) selon vos besoins */
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
